<ng-container
  *ngIf="{
    students: students$ | async,
    sort: sort$ | async,
    page: page$ | async,
  } as _"
>
  <div class="mat-elevation-z8">
    <mat-table
      [dataSource]="$any(_.students).data"
      matSort
      [matSortActive]="'active'"
      [matSortDirection]="'asc'"
      (matSortChange)="sortChange($event)"
    >
      <!-- id Header Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.gender }}</mat-cell>
      </ng-container>

      <!-- birthDay Column -->
      <ng-container matColumnDef="birthDay">
        <mat-header-cell *matHeaderCellDef>birday</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.birthDay | timestampToDate }}
        </mat-cell>
      </ng-container>

      <!-- physics Column -->
      <ng-container matColumnDef="physics">
        <mat-header-cell *matHeaderCellDef>physics</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.physics }}</mat-cell>
      </ng-container>

      <!-- maths Column -->
      <ng-container matColumnDef="maths">
        <mat-header-cell *matHeaderCellDef>maths</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.maths }}</mat-cell>
      </ng-container>

      <!-- english Column -->
      <ng-container matColumnDef="english">
        <mat-header-cell *matHeaderCellDef>english</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.english }}</mat-cell>
      </ng-container>

      <!-- actions Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary">
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="redirectToView(row)"
      ></mat-row>
    </mat-table>

    <mat-paginator
      [length]="$any(_.students).count"
      [pageSize]="$any(_.students).pageSize"
      [pageIndex]="$any(_.students).pageIndex"
      (page)="changePage($event)"
      [pageSizeOptions]="[5, 10, 20]"
    ></mat-paginator>
  </div>
</ng-container>
